# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages in Data Science - Python, Java, Scala, R, C++.
- Libraries of Data Science - Matplotlib, Pandas, Numpy, Scipy, Scikit-learn library.
- Popular APIs - REST, TensorFlow.
- Data Sets

## Some of the popular languages that Data Scientists use are: 
1. Python 
2. SQL 
3. R
4. Java

## Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- SciPy

|Data Science Tools|
|-----|
|Jupyter Notebook|
|R and RStudio|
|Git and GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [19]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [20]:
200/60

3.3333333333333335

## Author
Priyanka Dutta